<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.flyCommon.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>


    <select id="listTopInvokeInterfaceInfo" resultType="com.flyCommon.model.vo.InterfaceInfoVo">
        select interfaceInfoId, sum(totalNum - leftNum) as allInvokeNum
        from user_interface_info
        group by interfaceInfoId
        order by allInvokeNum desc limit #{limit};
    </select>



    <select id="listAllInvokeInterfaceInfo" resultType="com.flyCommon.model.vo.InterfaceInoTimeVo">
        SELECT
            DATE(createTime) as callDay,
            interfaceInfoId,
            SUM(totalNum - leftNum) as allInvokeNum
        FROM user_interface_info
        GROUP BY callDay, interfaceInfoId
        ORDER BY callDay DESC, allInvokeNum DESC;
    </select>
</mapper>
